.fa {
    padding: 5px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
    opacity: 0.7;
} 
.fa-linkedin {
    background: #557378;
    color: rgb(0, 0, 0);
}

.fa-twitter {
    background: #557378;
    color: white;
}

.fa-github {
    background: #557378;
    color: white;
}

.footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-foot{
    background-color: #557378;
}