<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

<div class="field">
  <label class="label">First Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="First Name" [(ngModel)]="contact.firstName" id="firstname"  name="firstName">
  </div>
</div>

<div class="field">
  <label class="label">Last Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Last Name" id="lastname" [(ngModel)]="contact.lastName" name="lastName">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" placeholder="Email" id="email" [(ngModel)]="contact.email"  name="email">
  </div>
</div>

<div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <div class="select">
      <select id="subject" [(ngModel)]="contact.subject" name="subject">
        <option *ngFor="let subject of subjects" [value]="subject.value">{{subject.viewValue}}</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">App</label>
  <div class="control">
    <div class="select">
      <select id="app" [(ngModel)]="contact.app" name="app">
        <option *ngFor="let app of apps" [value]="app.value">{{app.viewValue}}</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea" #message maxlength="250" placeholder="Message" id="message" [(ngModel)]="contact.message" name="message"> {{message.value.length}} / 250 </textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button type="submit" class="button is-link">Submit</button>
  </div>
</div>
</form>