.spacer {
    flex: 1 1 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.item-space {
    margin: 10px;
}

.md-fab {
    line-height: 5.6rem;
    min-width: 2;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 20% 20%;
}