<div style="text-align:center">
  <div class="box" *ngFor="let tweet of tweets | paginate: pageConfig" >
      <div class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                      <strong>{{tweet.username}}</strong> | <small>{{tweet.screen_name}}</small>
                      <br>
                      {{tweet.text}} |
                      {{tweet.hashtag}}
                      <!-- <span class="tag is-dark" *ngFor="let tag of tweet.hashtag" >{{tag}}</span> -->
                      <br>
                      {{tweet.created_at}}
                </div>
            </div>
      </div>
  </div>

  <pagination-template #p="paginationApi" [id]="pageConfig.id" (pageChange)="pageConfig.currentPage = $event">
      <nav class="pagination" role="navigation" aria-label="pagination">
          <a class="pagination-previous" [class.disabled]="p.isFirstPage()" *ngIf="!p.isFirstPage()" (click)="p.previous()">Previous</a> 
          <a class="pagination-next" [class.disabled]="p.isLastPage()" *ngIf="!p.isLastPage()" (click)="p.next()">Next</a>
      </nav>
  </pagination-template>
</div>