<body>
<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child box">
                        <p class="title">About</p>
                        <app-about></app-about>
                    </div>
                    <div class="tile is-child box">
                        <p class="title">Apps</p>
                        <app-leaving-cert-cal></app-leaving-cert-cal>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p class="title">Update</p>
                        <app-update></app-update>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Contact</p>
                        <app-contact></app-contact>
                    </article>
                  </div>
            </div>
          </div>
    </div>
</section>
</body>
  